.content {
  overflow-y: scroll;
  max-height: 60vh;
}

.content::-webkit-scrollbar {
  display: none;
}

.contactHistoryElementContainer {
  display: flex;
  flex-direction: row;
  border-bottom: lightgray solid 1px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.historyInfoContainer {
  display: flex;
  flex-direction: column;
}

.historyStateContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}

.textLinkContainer {
  min-height: 10vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.stateIndicator {
  padding: 10px;
  border-radius: 6px;
  color: white;
}

.stateCreated {
  background-color: rgb(9, 207, 26);
}

.stateUpdated {
  background-color: rgb(0, 132, 255);
}
