.button {
  all: unset;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 6px;
  background-color: #0070f3;
  color: white;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.buttonDanger {
  background-color: #f33900;
}

.buttonDisabled {
  opacity: 0.5;
}
